{{>_modalRegisterInLine}}
{{>_modalRegisterLine}}

<style>
    .checkboxText {
        font-size: 20px;
        font-weight: 600;
        color: black;
    }

    .titlePrincipalLin {
        font-size: 30px;
        font-weight: 900;
    }
</style>

<div class="container">
    <div class="card" style="background-color: #F3E9DF; min-height: 600px;">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                            style="background-color: #025A44; border: none;">
                            <h5 class="text-center">Linhas Adicionadas</h5>
                        </button>
                        {{#each lines}}
                        <div type="button" class="list-group-item list-group-item-action">
                            <hr>
                            <div class="row">
                                <div class="col-5">
                                    <Button class="btn btn-outline-info col-12" data-bs-toggle="modal"
                                        data-bs-target="#resgisterInLine{{id}}">
                                        {{dataValues.name}}
                                    </Button>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#resgisterInLine{{id}}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-2">
                                    <a href="{{dataValues.link}}" class="btn btn-info">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <a href="/settings/delete/line/{{dataValues.name}}" class="btn btn-info">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        {{/each}}
                        <button type="button" style="background-color: #025a44c9; border: none;"
                            class="list-group-item list-group-item-action" data-bs-toggle="modal"
                            data-bs-target="#resgisterLine">
                            <h5 class="text-center text-light"><i class="fas fa-plus-square"></i></h5>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                            style="background-color: #025A44; border: none;">
                            <h5 class="text-center">Selecione as Linhas</h5>
                        </button>
                        {{#each Inlines}}
                        <div type="button" class="list-group-item list-group-item-action">
                            <form action="/settings/edit/monitor/line" method="post">
                                <div class="row">
                                    <div class="col-2 mt-4">
                                        <h5 class="checkboxText">{{line}}</h5>
                                        <p class="text-center">
                                            {{#if dataValues.active}}
                                            <input class="form mt-0" style="transform: scale(2.1);" type="checkbox"
                                                name="active" value="false" checked>
                                            {{else}}
                                            <input class="form mt-0" style="transform: scale(2.1);" type="checkbox"
                                                name="active" value="true">
                                            {{/if}}
                                        </p>
                                    </div>
                                    <div class="col">
                                        <img src="/images/lines/01.png" width="100" alt="{{dataValues.img}}">
                                    </div>
                                    <div class="col mt-4">
                                        <h4 class="text-dark">{{dataValues.line}}</h4>
                                    </div>
                                    <div class="col mt-4">
                                        <input type="text" class="form-control" name="time" value="{{dataValues.time}}">
                                    </div>
                                    <div class="col mt-4">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-dark col-12" data-bs-toggle="modal"
                                                data-bs-target="#EditInLine{{id}}">
                                                <i class=" fas fa-edit"></i>
                                            </button>
                                            <a href="{{dataValues.link}}" class="btn btn-dark col-12">
                                                <i class="fas fa-link"></i>
                                            </a>
                                            <a href="/settings/delete/monitor/line/{{dataValues.id}}"
                                                class="btn btn-dark col-12">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            <button class="btn btn-dark col-12">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{!-- <div class="col">
                    <div class="card" style="background-image: url(/images/bg_modal.png); height: 500px; ">
                        <div class="card-body" style="background-color: rgba(143, 140, 137, 0.5);">
                            <div class="container" style="">
                                <h5 class="text-center mt-4 titlePrincipalLin">Selecione as Linhas</h5>
                                <hr class="">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-10">
                                        {{#each Inlines}}
                                        <form action="" method="post">
                                            <div class="row" style="background-color: rgba(0, 0, 0, 0.616);">
                                                <div class="col-2 mt-2">
                                                    <h5 class="checkboxText">{{line}}</h5>
                                                    <p class="text-center">
                                                        {{#if dataValues.active}}
                                                        <input class="form mt-0" style="transform: scale(3.1);"
                                                            type="checkbox" name="active" value="false" checked>
                                                        {{else}}
                                                        <input class="form mt-0" style="transform: scale(3.1);"
                                                            type="checkbox" name="active" value="true">
                                                        {{/if}}
                                                    </p>
                                                </div>
                                                <div class="col mt-2">
                                                    <h3 class="text-light">{{dataValues.line}}</h3>
                                                </div>
                                                <div class="col-2 mt-2">
                                                    <button type="button" class="btn btn-dark col-12"
                                                        data-bs-toggle="modal" data-bs-target="#EditInLine{{id}}">
                                                        <i class=" fas fa-edit"></i>
                                                    </button>
                                                </div>
                                                <div class="col-2 mt-2">
                                                    <a href="{{dataValues.link}}" class="btn btn-dark col-12">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </div>
                                                <div class="col-3 mt-2">
                                                    <button class="btn btn-success col-12">Salvar</button>
                                                </div>
                                            </div>
                                            <hr>
                                        </form>
                                        {{/each}}
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>

        </div>
    </div>
</div>