{{>_modalRegisterInLine}}
{{>_modalRegisterLine}}

<style>
    .checkboxText {
        font-size: 20px;
        font-weight: 600;
        color: black;
    }

    .titlePrincipalLin {
        font-size: 30px;
        font-weight: 900;
    }
</style>
<div class="container mb-5">
    {{>_msg}}
</div>
<div class="container">
    <div class="card" style="background-color: #c9c9c97a; min-height: 600px;">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4 col-sm-12 col-md-12 mt-1 mb-1">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                            style="background-color: #025A44; border: none;">
                            <h5 class="text-center">Linhas Adicionadas</h5>
                        </button>
                        {{#each lines}}
                        <div type="button" class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-xl-6 col-sm-12 mt-1 mb-1">
                                    <Button class="btn btn-outline-info col-12"
                                        onclick="settingsLines('{{dataValues.name}}', '{{../ServerHost}}')">
                                        {{dataValues.name}}
                                    </Button>
                                </div>
                                <div class="col-xl-6 col-sm-12 text-center mt-1 mb-1">
                                    <button type="button" class="btn btn-info " data-bs-toggle="modal"
                                        data-bs-target="#resgisterInLine{{dataValues.id}}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <a href="{{dataValues.link}}" target="_blank" class="btn btn-info ">
                                        <i class="fas fa-link"></i>
                                    </a>
                                    <a href="/settings/delete/line/{{dataValues.name}}" class="btn btn-info ">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <button type="button" style="background-color: #025a44c9; border: none;"
                            class="list-group-item list-group-item-action" data-bs-toggle="modal"
                            data-bs-target="#resgisterLine">
                            <h5 class="text-center text-light"><i class="fas fa-plus-square"></i></h5>
                        </button>
                    </div>
                </div>
                <div class="col-xl-8 col-sm-12 col-md-12 mt-1 mb-1">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                            style="background-color: #025A44; border: none;">
                            <h5 class="text-center">Selecione as Linhas</h5>
                        </button>
                        {{#each Inlines}}
                        <div type="button" class="list-group-item list-group-item-action">
                            <div id="monitor">

                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script src="/js/searchSettings/settings.js"></script>