
<div class="modal" tabindex="-1" id="resgisterInLine">
    <div class="modal-dialog">
        <div class="modal-content" style="background-image: url(/images/bg_modal.png);">
            <div class="modalRegisterLine" style="background-color: rgba(0, 0, 0, 0.493);">
                <div class="modal-header">
                    <h5 class="modal-title text-light" style="font-weight: 600; font-size: 20px;">Registrar Display na Linha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <button type="button" id="link" onclick="choice('link','choiceDisplay')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1 active">Link PackIOT</button>
                    <button type="button" id="ReadVideosUploads" onclick="choice('ReadVideosUploads','choiceDisplay')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1">Videos Carregados</button>
                    <button type="button" id="ReadImagesUploads" onclick="choice('ReadImagesUploads','choiceDisplay')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1">Images Carregadas</button>
                    <button type="button" id="Upload" onclick="choice('Upload','choiceDisplay')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1">Upload de Arquivos</button>
                </div>
                <form action="/settings/register/monitor/line" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="container">
                            <select name="line" id="line" class="form-control mt-1 mb-2">
                                <option value="">Selectione a linha desejada</option>
                                {{#each lines}}
                                <option value="{{dataValues.name}}">{{dataValues.name}}</option>
                                {{/each}}
                            </select>
                            <div class="mb-2" id="choiceDisplay">
                                choiceDisplay{{dataValues.id}}
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="active" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                            <option value="true">Ativado</option>
                                            <option value="false">Desativado</option>
                                        </select>
                                        <label for="floatingSelect">Status</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" name="time" class="form-control mt-1 mb-1" placeholder="Tempo visível" />
                                </div>
                                <div class="col">
                                    <input type="text" name="ordem" class="form-control mt-1 mb-1" placeholder="Ordem" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" style="background-color: #025A44; border: none;">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#each Inlines}}
<div class="modal" tabindex="-1" id="EditInLine{{dataValues.id}}">
    <div class="modal-dialog">
        <div class="modal-content" style="background-image: url(/images/bg_modal.png);">
            <div class="modalRegisterLine" style="background-color: rgba(0, 0, 0, 0.493);">
                <div class="modal-header">
                    <h5 class="modal-title text-light" style="font-weight: 600; font-size: 20px;">Editar {{dataValues.line}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <button type="button" id="editlink" onclick="choice('link','#EditLine{{dataValues.id}}','{{dataValues.link}}')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1 active">Link PackIOT</button>
                    <button type="button" id="editReadVideosUploads" onclick="choice('ReadVideosUploads','#EditLine{{dataValues.id}}','{{dataValues.video}}')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1">Videos Carregados</button>
                    <button type="button" id="editReadImagesUploads" onclick="choice('ReadImagesUploads','#EditLine{{dataValues.id}}','{{dataValues.image}}')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1">Images Carregadas</button>
                    <button type="button" id="editUpload" onclick="choice('Upload','#EditLine{{dataValues.id}}')" style="background-color: #025A44; border: none; color: white;" class="btn btn ml-1">Upload de Arquivos</button>
                </div>
                <form action="/settings/edit/monitor/line" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-control mt-1 mb-1" >
                                {{dataValues.line}}
                            </div>
                            <input type="hidden" name="id" value="{{dataValues.id}}" /> 

                            <input type="hidden" id="LinkEditId{{dataValues.id}}" value="{{dataValues.link}}" /> 

                            <div class="mb-2" id="EditLine{{dataValues.id}}">
                                <div class="form-control mt-1 mb-1" >
                                   {{#if dataValues.image}} {{dataValues.image}} {{/if}} 
                                   {{#if dataValues.video}} {{dataValues.video}} {{/if}} 
                                   {{#if dataValues.link}} {{dataValues.link}} {{/if}}
                                   
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="active" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                            <option value="true">{{dataValues.active}}</option>
                                            <option value="true">Ativado</option>
                                            <option value="false">Desativado</option>
                                        </select>
                                        <label for="floatingSelect">Status para Linha</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" name="time" class="form-control mt-1 mb-1" placeholder="Tempo visível" value="{{dataValues.time}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" style="background-color: #025A44; border: none;">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}

<script>
let choiceDisplay = document.querySelector('#choiceDisplay')

choiceDisplay.innerHTML = `
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="fas fa-exclamation-triangle"></i>
        <div>
            Selecione o tipo de vizualização
        </div>
    </div>`

function choice(TypeChoice,EditLineId,EditSelected) {
    try {
        switch (TypeChoice) {
            case 'ReadVideosUploads':
                choiceDisplay.innerHTML = `
                <select name="video" id="editvideo" class="form-control">
                    <option value="">Selecione o video</option>
                    {{#each UploadsVideos}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="link" class="form-control mt-1 mb-1" placeholder="Link da Linha"/>`
                               
                document.querySelector(EditLineId).innerHTML = `
                <select id="VideoEditId" name="video" id="" class="form-control">
                    <option value="">Selecione o video</option>
                    {{#each UploadsVideos}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="image" value="" class="form-control mt-1 mb-1" placeholder="Link da imagem"/> 
                <input type="hidden" name="link" value="" class="form-control mt-1 mb-1" placeholder="Link da Linha"/> `
                document.querySelector("#VideoEditId").value=EditSelected
                break;
    
            case 'ReadImagesUploads':
                choiceDisplay.innerHTML = `
                <select name="image" id="" class="form-control">
                    <option value="">Selecione a imagem</option>
                    {{#each UploadsImages}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="link" class="form-control mt-1 mb-1" placeholder="Link da Linha"/>`

                document.querySelector(EditLineId).innerHTML = `
                <select id="ImageEditId" name="image" id="" class="form-control">
                    <option value="">Selecione a imagem</option>
                    {{#each UploadsImages}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="video" value="" class="form-control mt-1 mb-1" placeholder="Link do video"/> 
                <input type="hidden" name="link" value="" class="form-control mt-1 mb-1" placeholder="Link da Linha"/> `
                document.querySelector("#ImageEditId").value=EditSelected
                break;
            
            case 'link':
                choiceDisplay.innerHTML = `
                <input type="text" name="link" class="form-control mt-1 mb-1" placeholder="Link da Linha">`

                document.querySelector(EditLineId).innerHTML = `
                <input type="text" id="LinkEditId" name="link" value="" class="form-control mt-1 mb-1" placeholder="Link da Linha"/>
                <input type="hidden" name="image" value="" class="form-control mt-1 mb-1" placeholder="Link da imagem"/> 
                <input type="hidden" name="video" value="" class="form-control mt-1 mb-1" placeholder="Link do video"/>`
                document.querySelector("#LinkEditId").value=EditSelected
            break;
            
            case 'Upload':
                choiceDisplay.innerHTML = `
                <input type="file" name="image" class="form-control mt-1 mb-1" />`

                
            break;
            }
    } catch (error) {
        console.log(error)
    }
}
</script>
