{{#each lines}}
<div id="slider">

    {{#if dataValues.link}}
    <iframe id="teste" class="selected" time="{{dataValues.time}}" src="{{dataValues.link}}"></iframe>
    {{else}}
    <img id="teste" src="/images/uploads/{{dataValues.image}}" class="img-fluid" alt="{{dataValues.image}}">
    {{/if}}

</div>
{{/each}}